/* Colors */
:root {
  --main-color: white;
  --second-color: black;
  --background-color: rgb(0 0 0 / 13%);
}


/* Main */
body {font-family: 'Ubuntu', sans-serif;}
.main-color {color: var(--main-color);}
.second-color {color: var(--second-color);}
a {
    text-decoration: none;
    color: var(--second-color);
}
.btn {font-size: x-large;}
button {
    border: none;
    background-color: white;
}


/* Header */
.header {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    & .header-settings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    & #header-title {
        font-size: 40px;
        & h1 {margin-top: 5%;}
    }
    & #header-links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & #header-social-media {
            width: 50%;
            margin: 3% 1%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        & #resume {
            padding: 2%;
            width: 25%;
            background-color: var(--background-color);
            text-align: center;
        }
        & #resume:hover {
            background-color: gray;
            color: var(--main-color);
        }
    }
}


#langs {
    width: 10%;
    background: var(--background-color);
    display: flex;
    justify-content: space-evenly;

    &  button {
        background: none;
    }
    & button:hover {
        background: gray;
    }
}
.select {
    border: none;
    width: 10%;
    text-align: center;
    background: var(--background-color);
    color: white;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-media-link {margin-right: 20%;}
.img-link {
    width: 30px;
    height: 30px;
}


/* Main */
.main {margin: 3% 5%;}
.section {margin-bottom: 2%;}
.title {
    display: flex;
    align-items: center;

    & h1 {margin: 0;}
    & img {width: 10%;}
}
.content {padding: 0 3%;}

/* Sections */
#about-me {margin-bottom: 2%;}
#work-experience {
    & .work-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;

        & p {
            margin: unset;
        }
    }

}
#skills-content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    padding: 0 3%;
}
.skill {
    margin: 2%;
    padding: 2%;
    border: 1px solid;
}
.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;

    & img {width: 50%;}
    & h4 {margin-bottom: 5%;}
}

.carousel {
    display: flex;
    align-items: center;
    padding:  2% 5%;
}
.in_title {
    & h4 {margin-bottom: 2%; font-size: 30px;}
}

/* Footer */
.footer {
    margin: 2% 4%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid;
}
.address {
    display: flex;
    flex-direction: column;

    a {margin-bottom: 2%;}
}
#social-media {width: 20%; display: flex; justify-content: space-evenly;}

