@media screen and (max-width: 768px) {
    h1 {
        font-size: x-large;
        margin: 2% 0;
    }
    h2, h4, h5, p {
        font-size: 95%;
    }
    .nav-main {
        justify-content: center;
    }
    .settings {
        display: none;
    }
    #langs {width: 20%;}
    .select {width: 20%;}

    .header-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #header-social-media {
        width: 100%;
        justify-content: space-around;
    }
    .social-media-link {
        margin-right: 0;
    }
    #documents {width: 100%;}

    #skills-content {flex-direction: column;}
    .skill {width: 100%;}
}

@media screen and (max-width: 425px) {
    .title {margin-bottom: 5%;}

    .footer {flex-direction: column;}
    .address {align-items: center;}
}