@media screen and (max-width: 768px) {
   #header-title {text-align: center;}
   #header-links {flex-direction: column;}
   #header-social-media {width: 100%; justify-content: space-around;}
   .social-media-link {margin-right: 0;}
   #resume {width: 100%;}

   #skills-content {grid-template-columns: 1fr;}
   .skill {padding: 5%; width: 100%;}
}

@media screen and (max-width: 425px) {
    #langs {width: 30%;}
    .select {width: 30%;}
    #header h1 {margin-top: 10%;}
    #header-social-media {margin: 5% 1%;}

    .title {margin: 5% 0;}

    .skill-title {flex-direction: row;}
    .skill-title img {width: 20%;}

    .in_title {list-style: none;}
    .in_title h4 {font-size: 25px;}

    .carousel {height: 200px;}
    .carousel-inner {height: 80%;}

    .footer {flex-direction: column-reverse;}
    .address {align-items: center;}
    #social-media {width: 100%; margin: 3%; justify-content: space-around;}

}