/* Main */
a {
    color: black;
    text-decoration: none;
}
.btn {font-size: x-large;}
button {
    border: none;
    background-color: white;
}
.carousel {
    height: 20vh;
    display: flex;
    align-items: center;
}

/* Header */
.header {
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
}

.header-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#langs {
    width: 10%;
    background: rgb(0 0 0 / 13%);
    display: flex;
    justify-content: space-evenly;
}
.lang {color: white;}
.select {
    border: none;
    width: 10%;
    text-align: center;
    background: rgb(0 0 0 / 13%);
    color: white;
}

.header-title {margin-top: 5%;}
.header-title-text {font-size: 40px;}

#header-social-media {
    width: 50%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* Main */
.main {margin: 3% 5%;}
.title {margin: 2% 0;}
.in_title {margin: 0 2%;}
.title-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-link {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.title-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.title-img {
    height: 300px;
    width: 350px;
    margin-right: 2%;
}

/* Footer */
.footer {
    margin: 2% 4%;
    border-top: solid;
}
.address {
    margin: 2% 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-media-link {
    margin-right: 20%;
}
.img-link {
    width: 30px;
    height: 30px;
}
