@media screen and (max-width: 760px) {
    h1 {
        font-size: x-large;
        margin: 2% 0;
    }
    h2, h4, h5, p {
        font-size: 95%;
    }
    .nav-main {
        justify-content: center;
    }
    .settings {
        display: none;
    }
}